////
/// This is a poster comment.
/// It will apply annotations to all items from file.
/// @group Common
////

/// Base background color for the app page.
$baseBgColor: #ffffff;

/// Base font color for the app page.
$baseFontColor: #000;